*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMONS */

body{
    font-family: 'Roboto', sans-serif;
}

.float_right{
    float: right;
}

.float_left{
    float: left;
}

.clearfix:after{
  content: "";
  display: table;
  clear: both;
}

.flexbox{
    display: flex;
}

.white_text{
    color: white;
}

.pointer{
    cursor: pointer;
}
/* COMMONS */

/* Header Buttons*/

header{
    height: 5vh;
    background-color: black;
}

header .buttons_box{
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
}

header button{
    padding: 5px;
    background-image: linear-gradient(gray, black);
    border: none;
    border-radius: 5px;
}

header button a{
    text-decoration: none;
    color: white;
} 

header button:first-child a i{
    margin-right: 10px;
}
/* Header Buttons*/

/* altezza main */
main{
    height: 85vh;
    background: black;
}
/* / altezza main */

/* Freccie ai lati */
section.arrows{
    width: 5%;
    height: 85vh;
}

section.arrows.flexbox{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section.arrows i{
    font-size: 2em;
}

section.arrows i:hover{
    color: rgba(255, 255, 255, 0.705);
}

section.arrows p{
    font-size: 0.7em;
    padding-top: 5px;
}

/* section.arrows{
    
} */
/* Freccie ai lati */

/* Container User cams */

#cams_container{
    width: 90%;
    height: 100%;
    overflow-y: scroll;
}

#cams_container.flexbox{
    flex-basis: 20px;
    flex-direction: row;
    flex-wrap: wrap;
}

#cams_container div.user_cam_box{
    position: relative;
    height: 200px;
    width: calc((100% / 5) - 20px);
    margin: 10px;
}

#cams_container div.user_cam_box.active{
    border: 5px solid green;
}

#cams_container  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#cams_container div.user_name{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1%;
    background-color: rgba(255, 255, 255, 0.438);
}

#cams_container div.user_name.muted:before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900; 
    content: "\f539";
}
/* /Container User cams */

/* Footer */

footer{
    height: 10vh;
    background:gold
}

/* Footer */